<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/build.css">
    <title>TailwindCSS Layout</title>
</head>

<body class="bg-white dark:bg-slate-800 h-screen w-screen text-white dark:text-slate-800">
    <header class="top-0 h-24 inset-x-0 bg-indigo-500/90 backdrop-blur fixed justify-center items-center dark:bg-purple-900">
        <nav class="h-full w-full flex justify-center items-center gap-8 dark:text-white">
            <a class="p-6 dark:bg-slate-800 bg-yellow-500 rounded-lg hover:bg-purple-700 dark:hover:bg-white dark:hover:text-slate-800 ease-in-out duration-300" href="#main">Main</a>
            <a class="p-6 dark:bg-slate-800 bg-yellow-500 rounded-lg hover:bg-purple-700 dark:hover:bg-white dark:hover:text-slate-800 ease-in-out duration-300" href="#footer">Footer</a>
            <a class="p-6 dark:bg-slate-800 bg-yellow-500 rounded-lg hover:bg-purple-700 dark:hover:bg-white dark:hover:text-slate-800 ease-in-out duration-300" href="/users">Users</a>
            <button class="p-6 bg-slate-800 rounded-lg hover:bg-white hover:text-slate-800 ease-in-out duration-300 text-white">Dark Mode</button>
        </nav>
    </header>
    <main class="h-full flex justify-center items-center text-center text-slate-800 dark:text-white ease-in-out duration-300" id="main">
        <article class="flex flex-col content-center justify-center h-full gap-28 p-28">
            <h1 class="text-9xl font-bold">My Main</h1>
            <p class="text-3xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, architecto laudantium
                harum voluptates consectetur repellendus rerum, quisquam autem impedit explicabo repellat. Pariatur
                porro fuga repudiandae quam libero iste consequuntur suscipit.</p>
        </article>
    </main>
    <footer class="h-2/5 border-t border-slate-800/30 dark:border-white text-slate-800 dark:text-white ease-in-out duration-300" id="footer">
        <article class="h-full flex justify-center items-center text-center">
            <h1 class="font-bold text-9xl">My Footer</h1>
        </article>
    </footer>
    <script src="/javascripts/toggledark.js"></script>
</body>

</html>